.iconContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid grey;
  background-color:red;
  height:3vw;
}

.iconContainer h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
}

h1 span {
  color: white;
}
