<div class="iconContainer">

  @if(isIntegrator){
    <a routerLink="/rss-providers">
        <span class="material-symbols-outlined">
            rss_feed
        </span>
    </a>
  }
  @if(isLoggedIn && !isIntegrator){
    <a routerLink="/profile">
        <app-profile-link></app-profile-link>
    </a>
  }
  @if(isLoggedIn){
  <a routerLink="/shareArticle">
    <app-share-article-icon></app-share-article-icon>
  </a>
  }
  @if(isLoggedIn && !isIntegrator){
<app-notification *ngIf="showNotification"></app-notification>
  }
@if(isLoggedIn){
    <button type="button" (click)="logout()">logout</button>
}

</div>




