<div class="center">
    <div class="modal-overlay" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
           

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                
            <h4>Put the URL of the article you want to share</h4>

            <label for="url">Url :</label>
            <input type="text" id="url" formControlName="url"/> 
            <!-- <input type="text" id="url" name="url" [(ngModel)]="url" #url="ngModel"> -->

            <small
                class="text-danger"
                *ngIf="isInvalidAndTouchedOrDirty(formGroup.controls['url'])"
                >
                    <span *ngIf="formGroup.controls['url'].errors?.['required']"
                    >Url is required.</span>
            </small>

            <button type="submit" [disabled]="formGroup.invalid">Submit</button>

        </form> 
            
            <button (click)="closeModal()">X</button>
        </div>
    </div>
</div>

<div>
    
</div>
