.center{
    display: flex;
}
.modal-overlay{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    background-color: #ffcfcf;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}
